.section6-back {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.sec6 {
  position: relative;
  width: 80%;
  height: 80%;
}

/* Square on the left */
.square1 {
  position: absolute;
  width: 100%; /* Adjust size as needed */
  height: 100%; /* Square shape */
  background-color: #3498db; /* Color for the square */

  border-radius: 15px;

  background-image: url("../assets/section6.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0; /* Initially hidden */
  transform: translateY(20px); /* Initially moved down */
  transition: opacity 1s ease, transform 1s ease; /* Smooth transition */
}

/* Apply fade-in animation when square comes into view */
.square1.fade-in {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Move to original position */
}

/* Text on the right */
.text2 {
  color: #ffffff; /* Text color */
  margin-left: 10%;
  position: absolute;
  z-index: 10;
  right: 20px;
  bottom: 20px;
  text-align: right;
  opacity: 0; /* Initially hidden */
  transform: translateY(20px); /* Initially moved down */
  transition: opacity 1s ease, transform 1s ease; /* Smooth transition */
  text-shadow: 10px 5px 50px rgba(0, 0, 0, 0.9); /* Adding text shadow */
}

.text2.fade-in {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Move to original position */
}

.text2 h2 {
  margin: 0 0 10px; /* Space below the heading */
  font-size: 4rem; /* Adjust font size */
  font-family: "Olivera", sans-serif; /* Adjust font family as needed */
  line-height: 1;
}

.text2 p {
  margin: 0;
  font-size: 1rem; /* Adjust font size */
  font-family: "Poppins", sans-serif; /* Adjust font family as needed */
  font-weight: 100;
  max-width: 600px;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  .text2 h2 {
    font-size: 2rem;
  }

  .text2 p {
    font-size: 0.9rem;
  }
}
