@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Face */
@font-face {
  font-family: "Olivera";
  src: url("../assets/Olivera.ttf") format("truetype"); /* Adjust the path if needed */
  font-weight: 900;
  font-style: normal;
}
root {
  width: 100vw;
}
body,
html {
  overflow-x: hidden;
}
